/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/fev/2021, 14:50:47
    Author     : marco
*/
:root {
    --initial_menu_mobile_position: 38px;
}
a:hover{

    color: #0056b3;
    text-decoration: none !important;


}
body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
body::after {
    background-image: url("/CRM_SENSEI/resources/logo.png");
    position: absolute;
    right: 50px;
    top: 50px;
    background-size: 100px;
    width: 100px;
    height: 100px;
    content: "";
    background-repeat: no-repeat;
}
.plusButton{
    position: absolute;
    right: 11px;
    top: 11px;
    cursor: pointer;

}
.table_header{
    height: 40px;
    width: 100%;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    background-color: #566b6b;

}
.table_header::after{

    font-size: 30px;
    color: white;
    padding: 22.5vw;
}
#table{
    background-color: white;
    width: 100%;
    height: 100%
}
#table tr:nth-child(1) td:not(.td_left){
    width: 4%;
}
#table tr td{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100px;
}
#table tr:nth-child(1){
    height: 40px;
    background-color: #7e9494;
    color: white;
}
#table tr:nth-child(1) td{
    width: 14%;
}
#table tr:nth-child(1) td:nth-child(2) {
    border-left: 1px solid white;
    border-right:  1px solid white;
}
#table tr:nth-child(1) td:nth-child(3) {
    border-left: 1px solid white;
    border-right:  1px solid white;
}
#table tr:nth-child(1) td:nth-child(4) {
    border-left: 1px solid white;
    border-right:  1px solid white;
}
#table tr:nth-child(1) td:nth-child(5) {
    border-left: 1px solid white;
    border-right:  1px solid white;
}
#table tr:nth-child(1) td:nth-child(6) {
    border-left: 1px solid white;
    border-right:  1px solid white;
}

#table tr{
    height: 40px;
    text-align: center;
}
#table tr:nth-of-type(2n){
    background-color: #f5f5f5;

}
#table tr:last-child{
    background-color: white;

}
.table_footer{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: white;
    height: 25px;

}
#table_container{
    position: absolute;
    top: 200px;
    left: 10%;
    width: 80%;
    z-index: 99;
}
.td_left{
    text-align: left;
}
.container{
    position: absolute;
    left: 42vw;
    top:  20vh;
    width: 300px;
    height: 400px;
    background-color: #f2f2f2;
    border-radius: 10px;

}
.form_content{
    margin-left: 60px;
    margin-top: 40px;

}

.form__group{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: 20px;
}
.form__group div.form_label{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100px;
}
.form__group div.form_item{
    flex-grow: 5;
    flex-shrink: 1;
    flex-basis: 100px;
}

:root{
    --font-family:   "Roboto";
    --font-size:     14px;
    --color-primary: #7b9696;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#logo{
    width: 250px;
}


.form__header {
    text-align: center;
    opacity: 1;
    /*   transform: translate3d(0, 500px, 0);*/
    /*  animation: arrive 500ms ease-in-out 0.9s forwards; */
}
.form .formnar{
    padding:50px;
}
.form__title {
    font-size: var(--font-size);
    margin-bottom: -10px;
    font-weight: 500;
    color: white;
}

.form {
    margin-top: 40px;
    border-radius: 6px;
    overflow: hidden;
    opacity: 1;
    background-color: #f2f2f2;
    height: fit-content;
}


.form--no {
    animation: NO 1s ease-in-out;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.form__input {
    display: block;
    width: 100%;
    font-family: var(--font-family);
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    transition: 0.3s;

    &:focus {
        background: darken(#fff, 3%);
    }
}

.btn-1 {
    display: block;
    width: 100%;
    padding: 20px;
    font-family: var(--font-family);
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    color: white;
    background: var(--color-primary);
    transition: 0.3s;


}
.btn-1:hover{
    background-color: #566b6b;
}

@keyframes NO {
    from, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

@keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes move {
    0% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 0
    }

    100% {
        background-position: 0 0
    }
} 
.item{
    height: 50px;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    background-color: white;

}
.form__group:nth-of-type(2n){

} 
.form__group:nth-of-type(2n+1){


} 
.form_label{
    text-transform: capitalize;
    font-size: 20px;
}
.main-content{
    width: 80%;
    margin: 10%;
}
.main_label h1{
    color: white;
    font-size: 30px;
    position: absolute;
    top:100px;
    left:37%;
}
.box-3{
    color: white;
    position: absolute;
    top:160px;
    left:47%;
    width: 100px;
}



.btn-1-three {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
}
.btn-1-three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
}
.btn-1-three:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}
.btn-1-three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
}
.btn-1-three:hover::after {
    opacity: 1;
    transform: scale(1,1);
}

.table-content-mobile{   
    height: 105px;
    text-align: left;
    font-size: 12px;
    text-indent: 3em;
    background-color: #ececec;
    color: balck;
    border: 1px solid white;
}
.table-content-mobile div{
    padding-bottom: 1px;
}
/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}

/* Style navigation menu links */
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the active link (or home/logo) */
.active {
    background-color: #4CAF50;
    color: white;
}
.dots3{
    display: inline-block;
    width: 180px !important;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;

}
@media screen and (max-width: 1500px) {

    #table tr{
        cursor: pointer;
    }
    .menu-content{
        top: 30% !important;
        font-size: 10px !important; 
        z-index: 100 !important;
        left: -150px ;
    }

    #table_container{
        left: 0%;
        width: 100%;
        top: var(--initial_menu_mobile_position);
    }

    #table td:not(:nth-of-type(1)){
        display: none;

    }
    #table td:nth-of-type(1){
        text-align: center;
    }
    .table_header{
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .menu-mobile{

        background-image: url("/CRM_SENSEI/resources/interface-de-configuracao.png");
        position: absolute;
        left: 10px;
        top: 16px;
        background-size: 16px;
        width: 16px;
        height: 16px;
        content: "";
        background-repeat: no-repeat;
        z-index: 100;
    }
    body::after{
        position: absolute;
        left: calc(45% - 45px);
        top: 70px;
        background-size: 125px;
        width: 145px;
        height: 106px;
        content: "";
        background-repeat: no-repeat;
        display: none;
    }
    .icon-home{
        text-align: center;
        text-align: center;
        width: 40px;
        left: 40px !important;
        bottom: 4px !important;


    }
    #canvas-content{
        height: calc(100% - 200px);
    }
    .main-content {
        width: 100% !important;
        margin: 0% !important; 
        margin-top: 45px !important;
        height: 100vh;
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        background-color: #f2f2f2;
    }

    .form__group div.form_item {
        flex-grow: 3 !important;
        flex-shrink: 1;
        flex-basis: 100px;
    }
    .form .formnar {
        padding: 10px !important;
    }
    .form_label {
        font-size: 15px !important;
    }
    .form {
        min-height: calc(100vh - 109px);
        margin-top: 0px;
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
    }

}