/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4/nov/2020, 19:49:56
    Author     : marco
*/
.watermark{
    background-image: url(../resources/apresentacao1_0.jpg);
    background-color: white;
    background-repeat: no-repeat;
    background-position-x: right;
    opacity: 0.5;
    top: 63px;
    /* left: 135px; */
    bottom: 0;
    right: 113px;
    position: absolute;
    z-index: -1;
    width: 20vw;
    height: auto;
    background-size: contain;
}
.main-content{
    margin-left: 150px;
}
.chartjs-size-monitor{
    position: relative !important;
}
#canvans-content{
    width: calc(100vw - 150px);
    height: 100vh;
}
canvas{

    width:100% !important;
    height:100% !important;

}
#project-selector{
    position: absolute;
    right:35vw;
    top:50px;
}


/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 20vw;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
}
select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: #86d4f9;
}
