/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4/nov/2020, 19:49:56
    Author     : marco
*/


.main-content{
    margin-left: 150px;
}
.chartjs-size-monitor{
    position: relative !important;
}
#canvas-content{
    height: 600px;
    position: absolute;
    bottom: 50px;
    border-radius: 20px;
    width: 80%;
    left: 10%;

}
canvas{

    width:100% !important;
    height:100% !important;

}
#project-selector{
    position: absolute;
    right: center;
    top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}


/* Reset Select */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #7b9696;
    background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
    display: none;
}
/* Custom Select */
.select {
    position: relative;
    display: flex;
    width: 500px;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .5em;
}
select {
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
}
/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #7b9696;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}
/* Transition */
.select:hover::after {
    color: #86d4f9;
}
