/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4/nov/2020, 19:49:56
    Author     : marco
*/


.main-content{
    margin-left: 250px;
    background-color: #f4f4f4;
    border-radius: 10px;

    width: 80vw;
    margin-top: 50px;
    position: absolute;
    min-height: 90vh;
}
.user-header{
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    height: 100px;
    margin-top: 50px;
    width: 95%;
    margin-left: 2.5%;

}
.user-header {
    display: flex;
    justify-content: space-between;
}
.profile{
    background-color:#ECE1CF;
    border-radius: 50%;
    width: 84px;
    height: 84px;
    margin-left: 10px;
    margin-top: 10px;
}
#profile-img{
    background-image:    url("../resources/user.png");
    background-size: contain;
    width: 64px;
    height: 64px;
    margin-left: 15px;
    margin-top: 10px;
}
.welcome-msg{
    margin-top: 20px;
    margin-left: 20px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}
#ring-icon{
    background-image:    url("../resources/notification.png");
    width: 16px;
    height: 16px;
    background-size: contain;
    margin-top: 4px;
    margin-right: 10px;
}
.news{
    display: flex;
    margin-top: 30px;
    margin-right: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;

}
.projects-in-working{
    display: flex;
    justify-content: space-around;

}
.projects-in-working{
    display: flex;  

    flex-wrap: wrap;

}