/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3/nov/2020, 0:33:53
    Author     : marco
*/

@import url("/CRM_SENSEI/resources/css/CRM.css");

.white-board{
    padding-left: 20px;
    background: white;
    width: 99vw;
    height: 95vh;
    position: absolute;
    z-index: -1;
    margin-top: 50px;
}

}
#img_shi{
    margin-top: 50px;
    margin-bottom: 100px;

}
.menu-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 50px;
    width: 205px;

}
.lvl-0{
    margin-bottom: 20px;
    background: #ECE1CF;
    border-radius: 10px;
    color: #18494D;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #18494D;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    padding-top:10px; 
    cursor: pointer;

}
.lvl-1{
    margin-bottom: 20px;
    background: #F4EFEC;
    border-radius: 10px;
    color: #18494D;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    height: 40px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    padding-top:10px; 
    cursor: pointer;

}

.lvl-1 a{
    color: #18494D;

}
.not-visible{
    display: none;
}