/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/nov/2020, 11:25:02
    Author     : marco
*/

.plusButton{
    position: absolute;
    right: 11px;
    top: 11px;
    cursor: pointer;

}

.table_header{
    height: 40px;
    width: 100%;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    background-color: #36304a;

}
.table_header::after{
    content: "Funcionarios";
    font-size: 30px;
    color: white;
    padding: 20vw;
}
#table_employee{
    background-color: white;
    width: 100%;
    height: 100%
}
#table_employee tr:nth-child(1){
    height: 40px;
    background-color: #736b8d;
    color: white;
}
#table_employee tr:nth-child(1) td{
    width: 16%;
}
#table_employee tr:nth-child(1) td:nth-child(2) {
    border-left: 1px solid white;
    border-right:  1px solid white;
}
#table_employee tr:nth-child(1) td:nth-child(3) {
    border-left: 1px solid white;
    border-right:  1px solid white;
}
#table_employee tr:nth-child(1) td:nth-child(4) {
    border-left: 1px solid white;
    border-right:  1px solid white;
}
#table_employee tr{
    height: 40px;
    text-align: center;
}
#table_employee tr:nth-of-type(2n){
    background-color: #f5f5f5;

}
#table_employee tr:last-child{
    background-color: white;

}
.table_footer{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: white;
    height: 25px;

}
#table_container{
    width: 50vw;
    position: absolute;
    top: 150px;
    left: 25vw;

}
.container{
    position: absolute;
    left: 42vw;
    top:  20vh;
    width: 300px;
    height: 400px;
    background-color: #f2f2f2;
    border-radius: 10px;

}
.form_content{
    margin-left: 60px;
    margin-top: 40px;

}


:root{
    --font-family:   "Roboto";
    --font-size:     14px;
    --color-primary: #50ea71;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#logo{
    width: 250px;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    background-size: 200% 100% !important;
    animation: move 10s ease infinite;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%);
    height: 100vh
}

.user {
    width: 90%;
    max-width: 340px;
    margin-left: 45vw;
    padding-top: 10vw;
}

.user__header {
    text-align: center;
    opacity: 1;
    /*   transform: translate3d(0, 500px, 0);*/
    /*  animation: arrive 500ms ease-in-out 0.9s forwards; */
}

.user__title {
    font-size: var(--font-size);
    margin-bottom: -10px;
    font-weight: 500;
    color: white;
}

.form {
    margin-top: 40px;
    border-radius: 6px;
    overflow: hidden;
    opacity: 1;
    /*transform: translate3d(0, 500px, 0);*/
    /*  animation: arrive 500ms ease-in-out 0.9s forwards; */
}


.form--no {
    animation: NO 1s ease-in-out;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.form__input {
    display: block;
    width: 100%;
    padding: 20px;
    font-family: var(--font-family);
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    transition: 0.3s;

    &:focus {
        background: darken(#fff, 3%);
    }
}

.btn-1 {
    display: block;
    width: 100%;
    padding: 20px;
    font-family: var(--font-family);
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    color: white;
    background: var(--color-primary);
    transition: 0.3s;


}
.btn-1:hover{
    background-color: #2da246;
}

@keyframes NO {
    from, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

@keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes move {
    0% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 0
    }

    100% {
        background-position: 0 0
    }
}   

.main_label h1{
    color: white;
    font-size: 30px;
    position: absolute;
    top:100px;
    left:37%;
}
.box-3{
    color: white;
    position: absolute;
    top:160px;
    left:47%;
    width: 100px;
}



.btn-1-three {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
}
.btn-1-three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
}
.btn-1-three:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}
.btn-1-three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
}
.btn-1-three:hover::after {
    opacity: 1;
    transform: scale(1,1);
}