body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

#logo {
    margin-top: 40px;
    margin-bottom: 30px;
}

#wall {
    position: absolute;
}

#filter {
    background-color: #679596;
    height: 100vh;
    width: 100vw;
    opacity: 0.4;
    z-index: 999;
}

.wallpaper {
    position: absolute;
    z-index: -1;
    opacity: 1;
}

#container-login {
    position: absolute;
    background-color: white;
    border-radius: 10px;
    width: 350px;
    height: 473px;
    text-align: center;
}

.label {
    text-align: left;
    color: #18494D;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 500;
}

.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-items {
    width: 200px;
}

.input:focus-visible {
    outline: none;
}

.input {
    width: 200px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    color: #679596;
    outline: -webkit-focus-ring-color auto 0px;
    padding-left: 12px;
}

.btn {
    background-color: #ECE1CF;
    color: #18494D;
    font-size: 14px;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
}

#label-pass-recovery {
    font-size: 12px;
    text-decoration: none;
    color: #679596;
}

.version {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    color: #BCD9D7;
    bottom: 20px;
    position: absolute;
    left: 20px;
}