/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/out/2020, 2:20:20
    Author     : marco
*/


.container{
    background-color: white;
    width: 20vw;
    height: 50vh;
    border-radius: 10px;
    margin-top: 10%;
    margin-left: 1%;

}
.logo{
    padding-top: 10%;
    margin-left: 30%;
}
#input-group{
    margin: 10%;
}
body{
    /*  background-image: url(../resources/apresentacao1_0.jpg);*/
    background-color: white;
    background-repeat: no-repeat;
    background-position-x: center;
}
/*body{
    background: linear-gradient(270deg, #ffffff, #f7a58c, #ddac9d);
    background-size: 600% 600%;

    -webkit-animation: anim 28s ease infinite;
    -moz-animation: anim 28s ease infinite;
    -o-animation: anim 28s ease infinite;
    animation: anim 28s ease infinite;
}
*/

@-webkit-keyframes anim {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@-moz-keyframes anim {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@-o-keyframes anim {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@keyframes anim {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}



* { box-sizing:border-box; }



/* form starting stylings ------------------------------- */
.group 			  { 
    position:relative; 
    margin-bottom:45px; 

}
input 				{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:15vw;
    border:none;
    border-bottom:1px solid #757575;
    background-color:transparent;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
    color:#999; 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
    top:-20px;
    font-size:14px;
    color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:15vw; }
.bar:before, .bar:after 	{
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:#5264AE; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}
.bar:before {
    left:50%;
}
.bar:after {
    right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}

.btn {
    display: block;
    width: 100%;
    padding: 20px;
    font-family: var(--font-family);
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    color: white;
    background: var(--color-primary);
    transition: 0.3s;


}
.btn:hover{
    background-color: #2da246;
}
.btn-three {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
}
.btn-three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
}
.btn-three:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}
.btn-three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
}
.btn-three:hover::after {
    opacity: 1;
    transform: scale(1,1);
}